@import '../../assets/scss/_variables';

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .card {
        width: 220px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 160px;
        border-radius: 4px;
        background: $bg-color-primary;

        .card-icon {
            width: 40px;
        }

        h4 {
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}