@import '../../assets/scss/_variables';

.loginPage {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;

    .logo{
        width: 175px;
        position: absolute;
        top: 40px;
        left: 100px;

        @media screen and (max-width: $screen-md-min) {
           left: 30px;
           width: 100px;
         }
    }

    .loginHero {
        width: 50%;
        height: 100%;
        padding: 20px 100px;
        position: relative;
        display: flex;
        align-items: center;
        justify-items: center;

        .loginHeroImage {
            width: 100%;
        }

        @media screen and (max-width: $screen-md-min) {
            display: none;
        }
    }

    .loginContent {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 20px 100px;

        @media screen and (max-width: $screen-md-min) {
           width: 100%;
           padding: 20px 30px;
        }

        form {
            width: 100%;
            text-align: left;
            p {
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 40px;
            }

            h4 {
                color: $button-color-primary;
                font-weight: bold;
                font-size: 12px;
                text-transform: uppercase;
            }

            .input {
                margin-bottom: 20px;
            }

            .loginBtn {
                width: 100%;
                height: 48px;
                margin-top: 30px;
            }
        }
    }
}