$button-color-primary:#39CDCC;
$color-primary: #545F7D;
$color-secondary: #213F7D;
$bg-color-primary: #FFFFFF;
$bg-color-secondary: #E5E5E5;
$font-family-work: 'Work Sans', sans-serif;
$screen-sm-min: 640px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 120px;
$transition: all 400ms ease;

$container-width-lg: 80%;
$container-width-md: 86%;
$container-width-sm: 95%;