@import '../../assets/scss/_variables';

section {
    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        height: 100px;
        background: $bg-color-primary;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
        padding: 20px 0;
        @media screen and (max-width: $screen-md-min) {
            height: 70px;
        }
    
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hamburger {
                display: none;
                @media screen and (max-width: $screen-sm-min) {
                    display: block;
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    transition: all 0.25s;
                    position: relative;

                    .hamburger-top, .hamburger-middle, .hamburger-bottom {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 24px;
                        height: 2px;
                        background: $color-secondary;
                        transform: rotate(0);
                        transition: all 0.5s;
                    }

                    .hamburger-middle {
                        transform: translateY(7px);
                    }

                    .hamburger-bottom {
                        transform: translateY(14px);
                    }
                }
            }

            .open {
                transform: rotate(90deg);
                transform: translateY(0px);
            }

            .open .hamburger-top {
                transform: rotate(45deg) translateY(6px) translate(6px);
            }

            .open .hamburger-middle{
                display: none;
            }

            .open .hamburger-bottom {
                transform: rotate(-45deg) translateY(6px) translate(-6px);
            }
    
            .left {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 150px;
    
                .logo {
                    width: 145px;

                    @media screen and (max-width: $screen-md-min) {
                        width: 100px;
                    }
                }
    
                .searchField {
                    display: flex;
                    .search {
                        width: 300px;
                        height: 40px;
    
                        input {
                            width: 100%;
                            height: 100%;
                            border-radius: 0px;
                            border-right: none;
                        }
                    }
                    button {
                        display: block;
                        width: 56px;
                        height: 40px;
                        border-radius: 0px 5px 5px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 14px;
                            height: 14px;
                        }
                    }

                    @media screen and (max-width: $screen-md-min) {
                        display: none;
                    }
                }
            }
    
            .right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 30px;
    
                p {
                    font-size: 16px;
                    color: $color-secondary;
                    text-decoration: underline;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                }
    
                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    @media screen and (max-width: $screen-md-min) {
                        display: none;
                    }
    
                    h4 {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .side-bar {
        width: 280px;
        background: $bg-color-primary;
        position: fixed;
        overflow-y: scroll;
        max-height: 85vh;
        top: 100px;
        left: 0;

        .logo {
            width: 100px;
            margin: 0 auto;
        }

        @media screen and (max-width: $screen-md-min) {
            display: none;
        }

        .link {
            width: 100%;
            padding: 15px 25px;
            cursor: pointer;
            margin-top: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;

            h5 {
                font-size: 16px;
            }

            &:hover {
                background: #39cdcd0c;
                border-left: 3px solid $button-color-primary;
            }
        }

        .nav-option {
            text-align: left;
            margin-top: 30px;

            h4 {
                margin-left: 25px;
                text-transform: uppercase;
            }
        }
    }
    .hamburgerMenu {
        width: 60%;
        background: $bg-color-primary;
        z-index: 30;
        position: fixed;
        overflow-y: scroll;
        max-height: 100vh;
        top: 50px;
        left: 0;
        display: none;

        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            margin-top: 30px;

            h4 {
                font-size: 16px;
            }
        }

        @media screen and (max-width: $screen-md-min) {
            display: block;
        }

        .link {
            width: 100%;
            padding: 15px 25px;
            cursor: pointer;
            margin-top: 15px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;

            h5 {
                font-size: 16px;
            }

            &:hover {
                background: #39cdcd0c;
                border-left: 3px solid $button-color-primary;
            }
        }

        .nav-option {
            text-align: left;
            margin-top: 30px;

            h4 {
                margin-left: 25px;
                text-transform: uppercase;
            }
        }
    }
}
